[Unit]
Description=Image Improv Leaderboard generator

[Service]
WorkingDirectory=/home/bp100a/genesis/daemon
ExecStart=/usr/bin/python3 sync_leaderboard.py
Restart=always

[Install]
WantedBy=multi-user.target
